<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bitcoin</key>
	<dict>
		<key>quantity</key>
		<real>0.21</real>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Ether</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Litecoin</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>StorjcoinX</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>170</integer>
	</dict>
	<key>Zcash</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>40</integer>
	</dict>
	<key>Dogecoin</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Lisk</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Dash</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Factom</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
	<key>Counterparty</key>
	<dict>
		<key>quantity</key>
		<integer>1</integer>
		<key>investment</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
